<div class="main-content">
    <div class="workplace-form-container">
        <h1 class="form-title">Создать место работы</h1>
        <form id="workplace-form" method="post" action="/createPlaceWork">
            <div class="form-field">
                <label for="name">Название</label>
                <input type="text" id="name" name="name" >
            </div>
            <div class="form-field">
                <label for="address">Адрес</label>
                <input type="text" id="address" name="address" >
            </div>
            {{#each errors}}
            <p style="color:#f00">{{this.msg}}</p>
            {{/each}}
            <button type="submit" class="btn create-btn">Создать</button>
        </form>
    </div>
</div>

