<main class="main-content">
    <div class="find-phone-container">
        <h1>Поиск по номеру телефона</h1>

        <!-- Блок для поиска по номеру телефона -->
        <div id="phone-search-block">
            <form class="phone-search-form" action="" method="get">
                <label for="phone" class="reg-label">Введите номер телефона:</label>
                <input type="text" id="phone" name="phone" placeholder="+7 (___) ___-__-__" class="reg-input" required>
                <button type="submit" class="btn reg-btn">Найти</button>
            </form>
        </div>


    </div>
</main>


<script src="/scripts/workerMainPage.js"></script>